// scss-docs-start color-variables
$blue:    #476aa3;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc4635;
$orange:  #fd7e14;
$yellow:  #ffd256;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 800px,
  xl: 1200px,
  xxl: 1400px
);

// scss-docs-start border-radius-variables
$border-radius:               1.375rem;
$border-radius-sm:            1.25rem;
$border-radius-lg:            1.5rem;
$border-radius-xl:            1rem;
$border-radius-xxl:           2rem;
$border-radius-pill:          50rem;